In [8]:
import pandas as pd
import numpy as np
list1=['a','b','c','d']
data=np.array(list1)
s=pd.Series(data)
print("Numpy data representaion \n,",data)
print("Pandas series Representaion \n,",s)

Numpy data representaion
, ['a' 'b' 'c' 'd']
Pandas series Representaion
, 0    a
1    b
2    c
3    d
dtype: object

In [9]:
import pandas as pd
import numpy as np
f=np.array(['a','b','c','d'])

s=pd.Series(f,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [19]:
import pandas as pd
data={'a':'0','b':'1','c':'2'}
s=pd. Series(data,index=['b','c','d','a'])
print(s)

b      1
c      2
d    NaN
a      0
dtype: object

In [15]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
# retrive the first 3 elements
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [11]:
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [20]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
# retrive a single element using label index
print(s['a'],s['b'],s['c'])
mult=s['b']*s['c']
print(mult)

1 2 3
6

In [22]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s['a'],s['b'],s['c'])
add=s['b']+s['c']
print(add)
div=s['a']/s['c']
print(div)

1 2 3
5
0.3333333333333333

In [27]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s)
# retrive multiple element using a list of index values
print(s[['a','c']])

a    1
b    2
c    3
d    4
e    5
dtype: int64
a    1
c    3
dtype: int64

In [28]:
import pandas as pd
data=[1,2,3,4,5]
sf=pd.Series(data)
df=pd.DataFrame(data)
print(sf)
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64
   0
0  1
1  2
2  3
3  4
4  5

In [35]:
import pandas as pd
data=[['Alex',10],['Bob',20],['sam',30]]
df= pd.DataFrame(data,columns=['Name','Age'])
print(df)

   Name  Age
0  Alex   10
1   Bob   20
2   sam   30

In [39]:
import pandas as pd
data={'Name':['Tom','Jack','Steave','Ricky'],
      'Age':[28,34,29,42]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

         Name  Age
rank1     Tom   28
rank2    Jack   34
rank3  Steave   29
rank4   Ricky   42

In [40]:
import pandas as pd
data=[{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df=pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [43]:

d={'one':pd.Series([1,2,3],index=['a','b','c','d']),
  'two':pd.Series([1,2,3],index=['a','b','c','d'])}
df=pd.DataFrame(d)
#adding a new coloum to an existing DataFrame object with coloum label by
# passing a new series
print("Adding a new coloum by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)
print("Adding a new column using the existing column in DataFrame:")
df['four']=df['one']+df['three']
print(df)

ValueError: Length of passed values is 3, index implies 4

In [47]:

d={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d']),
   'three':pd.Series([10,20,30],index=['a','b','c'])}
df=pd.DataFrame(d)
print(df[2:4])

# multiple rows can be selected using:operator

   one  two  three
c    3    3   30.0
d    4    4    NaN

In [ ]:
import pandas as pd
df=pd.DataFrame([1,2],[3,4]])